.about-content{
    padding-bottom: 30px;
}

.about-content,
.profile-img-border {
    display: grid;
    justify-items: center;
}


.about-img-text-combo-style {
    display: flex;
    flex-direction: column;
}

.about-content h1 {
    text-align: center;
    font-size: 1.8rem;
    padding: 5px;
}


/* Reference: How to add border in my clip-path: polygon(); CSS style - Reply from: Robert Máslo - https://stackoverflow.com/questions/31854185/how-to-add-border-in-my-clip-path-polygon-css-style */
.profile-img-border {
    filter:     drop-shadow(2px 0px 0px white)
                drop-shadow(0px 2px 0px white)
                drop-shadow(2px 2px 0px white)
                drop-shadow(-2px 0px 0px white)
                drop-shadow(0px -2px 0px white)
                drop-shadow(-2px -2px 0px white);
    padding: 20px;
}

.profile-img {
    max-width: 270px;
    border-radius: 20%; 
}

.about-content h2 {
    padding: 15px 35px;
    margin: 0px;  
    font-family: 'Comic Neue', cursive;
}

.decore-img {
    display: none;
}
