.blog-list-content {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.blog-list-content h1 {
    width: 70%;
    text-align: center;
    font-size: 1.8rem;
}

.blog-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.blog-filter input {
    display: none;
}

.blog-filter label {
    cursor: pointer;
}

.blogg-filter-btn-style {
    margin: 5px;
    padding: 4px 15px;
    border-radius: 10px;
    background-color: var(--button-color);
    border: solid 1px var(--standar-black-color);
    font-weight: bold;
}

.x-mark  {
    display: none;
    cursor: pointer;
}

.blog-section {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;  
}

.blog-entry {
    height: 340px;
}

.blog-entry img {
    width: 300px;
    height: 250px;
}

.view-more-btn {
    margin: 20px 0px 40px 0px;
}