.contact,
.contact-form,
.contact-form h1,
form,
.form-style,
.contact-btn {
    display: grid;
    justify-content: center;
}

.contact-form{
    padding: 20px;
}

.contact img {
    display: none;
}

.contact-form h1 {
    font-size: 1.7rem;
}

.contact-form h2 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 0px;
    width: 335px;
    font-family: 'Comic Neue', cursive;
}

form
/* .contact-btn-style  */{
    font-weight: bold;
}

.form-style{
    grid-template-columns: 1fr;
    max-width: 300px;
    font-size: 1.2rem;
}

.form-style input, 
textarea{
    border-radius: 3px;
}

/* .btn-style {
    padding: 5px 20px;
    margin-top: 15px;
    text-transform: uppercase;
    background-color: #42e813;
    border: solid 1px black;
    border-radius: 7px;
} */


/* .error-message-style {
    display: none;
    text-align: center;
}

.error-message-style,
.submission-fail{
    color: red;
}

.submission-success{
    color: #0d6a0d;
}

.submission-success,
.submission-fail{
    text-align: center;
    width: 300px;
    padding-top: 20px;
    font-size: 1.3rem;
} */