.contact,
.contact-form,
.contact-form h1,
form,
.form-style,
.contact-btn {
    display: grid;
    justify-content: center;
}

.contact img {
    display: none;
}

.contact-form{
    padding: 20px;
}


.contact-form h1 {
    font-size: 1.7rem;
}

.contact-form h2 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 0px;
    width: 335px;
    font-family: 'Comic Neue', cursive;
}

form label {
    font-weight: bold;
}

.form-style{
    grid-template-columns: 1fr;
    width: 250px;
    font-size: 1.2rem;
}

.form-style input, 
textarea{
    border-radius: 3px;
}