.introduction {
    display: grid;
    justify-items: center;
    /* padding-top: 50px; */
}


.introduction-text-style {
    position: absolute;
}

.introduction-text-style h2 {
    display: none;
    
}

.introduction h1 { 
    /* font-size: 3.4rem;
    margin: 0px;
    padding: 15px;   */
    font-size: 1.7rem;
    margin: 0px;
    margin: 36px 60px 18px 18px;
    background-color: #996a6a59;
    border-radius: 10px;
    padding: 5px 8px 5px 5px;
}

.introduction h2 {  
    font-size: 2.5rem;
    max-width: 605px;
    font-weight: normal;
    margin: 0px;
    padding: 15px;
}

.introduction-img {  
    /* border: solid 35px white;
    border-radius: 10px;
    max-width: 60%; */
}

.blog-carousel-section {
    display: grid;
    grid-template-areas:
    "a" 
    "b" 
    "e";
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 100px;  
}

.carousel-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.arrow-style {
    display: none;
    /* font-size: 3rem;
    cursor: pointer; */
}

.blog-entry {
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-color: white;
    border: solid 3px black;
    border-radius: 10px;
    width: min-content;
    margin: 0px 7px;
}

.blog-entry img {
    /* width: 400px; */
    width: 300px;
    padding: 10px;
}

.blog-entry h2 {
    margin: 0px;
    padding: 0px 0px 10px 20px;
}

.blog-entry p {
    margin: 0px;
    text-align: end;
    padding: 3px 15px 5px 0px;
}

.carusel-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-flow: wrap;
    justify-content: center;
    /* overflow-x: auto;
    scroll-behavior: smooth;
    width: 1690px; */
}

.carousel-nav-symbols-row{
    display: none;
    /* display: flex;
    justify-content: center;
    gap: 10px; */
}

.carousel-nav-symbols{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-nav-selected {
    background-color: lightgray;
    border: solid 1px black;
}

.read-more {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    width: 157px;
    justify-self: center;
    text-transform: uppercase;
}

.featured-meal {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: auto;
    background-color: black;
    color: white;
    padding: 50px 80px;
}

.meal-info,
.featured-meal img {
    display: flex;
    justify-self: center;
}

.meal-info {
    max-width: 500px;
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.meal-info h2 {
    font-size: 2rem;
}

.meal-info h3 {
    font-size: 1.4rem;
}

.meal-info p {
    font-size: 1.3rem;
}

.featured-meal img {
    max-width: 600px;
    display: flex;
    justify-self: center;
}

.popular-section {
    display: grid;
    justify-content: center;
    padding: 20px 0px 40px 0px;
}

.popular-section h2 {
    justify-self: center;
    font-weight: bold;
 }