@media (min-width: 600px){
    .carusel-content-box {
        width: 440px;
    }
}

@media (min-width: 700px) {
    .blog-section {
        grid-template-columns: repeat(2, auto);
    }

    .blog-list-content h1 {
        font-size: 2rem;
    }

    /* .carusel-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    footer form {
        flex-direction: row;
    }
}

@media (min-width: 800px){
    header {
        display: flex;
        /* position: unset; */
        padding: 0px 19px;
    }
    
    .logo {
        max-width: 205px;
    }

    .menu-button {
        display: none;
    }

    nav,
    #dropdown-menu:checked ~ nav {
        display: flex;
    }

    #dropdown-menu:checked ~ nav {
        display: flex;
        background-color: unset;
        position: unset;
    }

    /* #dropdown-searchbar:checked ~ form {
        top: 82px;
    } */

    .search-list-result {
        top: 81px;
    }

    .searchbar-button {
        pointer-events: none;
    }

    .search form {
        display: contents;
    }

    .main-content {
        padding-top: 82px;
    }

    /* index */
    .introduction-img {
        display: block;
    }

    .introduction-text-style {
        position: absolute;
        top: 120px;
        width: 330px;
    }

    .introduction h1 {
        border-bottom: none;
    }

    .arrow-style {
        display: flex;
        font-size: 3rem;
        cursor: pointer;
    }

    /* .blog-carousel-section {
        grid-template-areas:
            "a a a" 
            "b c e" 
            "d d d";
    } */

    .carousel-title {
        font-size: 2rem;
    }

    /* .carusel-content-box{
        width: 640px;
        overflow-x: hidden;
        scroll-behavior: smooth;
    } */

    .carusel-content {
        display: flex;
        /* overflow-x: hidden; */
        /* scroll-behavior: smooth; */
        /* width: 640px; */
        /* flex-direction: row; */
        gap: 0px;
        flex-flow: initial;
        justify-content: initial;
    }

    .carusel-content-box {
        width: 640px;
    }

    .blog-entry img,
    .try-new img  {
        width: 300px;
        height: 250px;
    }

    .carousel-nav-symbols-row {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .read-more {
        display: none;
    }

    .meal-info {
        display: grid;
        grid-template-areas:
        "a c" 
        "b c" 
        "d d";
        grid-template-columns: 1fr 1fr;
    }

    .meal-info h2 {
        align-self: end;
    }

    .meal-info h2,
    .meal-info h3 {
        padding-right: 20px;
        max-width: 670px;
    }

    .try-new-title {
        padding: 20px 0px 0px 0px;
    }

    .try-new {
        grid-template-columns: repeat(4, auto);
        grid-template-areas:
        "a b b" 
        "a c c" 
        "a d d";
        width: 90%;
        max-width: 1295px;
    }

    .try-new h2 {
        justify-self: start;
        padding: 20px 0px 0px 15px;
    }


    /*specific blog list */
    .post-style {
        font-size: 1.6rem;
    }

    .description-ingredients {
        grid-template-areas:
        "b a"  "c c" ;
        grid-gap: 10%;
    }

    /* Contact */
    .contact-form h1 {
        font-size: 2rem;
    }

    .contact-form h2 {
        font-size: 1.5rem;
        width: 372px;
    }

    .form-style {
        width: 315px;
        font-size: 1.4rem;
        min-height: 60px;
    }

    /* .contact-btn-style {
        padding: 7px 30px;
        font-size: 1rem;
    } */

    .btn-style {
        padding: 10px 30px;
        font-size: 1rem;
    }

    /* About */
    .about-content h2 {
        max-width: 1000px;
    }

    .about-img-text-combo-style{
        grid-template-columns: 1fr 1.5fr;
    }

    .about-img-text-combo-style h2 {
        max-width: 600px;  
        justify-self: baseline;
        align-self: center;
    }

    .profile-img {
        clip-path: circle();
    }
    
    .decore-img {
        display: block;
        max-width:  70%;
        border-radius: 20px;  
        margin: 20px 0px;
    }
}

@media (min-width: 1000px) {
    .logo h2 {
      font-size: 2.2rem;
    }

    nav {
        font-size: 2rem;
        gap: 20px;
    }

    footer label {
        font-size: 1.7rem;
    }

    footer input {
        font-size: 1.4rem;
    }

    .sign-up-btn {
        font-size: 1.2rem;
        padding: 7px 20px;
    }

    .search-list-result {
        top: 96px;
    }

    .main-content {
        padding-top: 96px;
    }

    /* index */
    .introduction-text-style {
        top: 145px;
        width: 400px;
    }

    .introduction h1 {
        font-size: 2.5rem;
    }

    .try-new-title {
        font-size: 2rem;
    }
/* 
    .try-new h2{
        font-size: 2rem;
    }

    .post-excerpt p {
        font-size: 1.6rem;
    } */
    /* blog list */
    .blog-section {
        grid-template-columns: repeat(3, auto);
    }

    /* specific blog post */
    /* .blog-post-content {
        padding: 50px 5%;
    } */

    .description-ingredients h2 {
        font-size: 1.6rem;
    }
      
    .description-ingredients ol {
        font-size: 1.5rem;
    }
      
    .wp-block-table {
        font-size: 1.2rem;
    }

    /* Contact */
    .contact {
        grid-template-columns: 1fr 1fr;
    }

    .contact img {
        display: unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .img-box {  
        overflow: hidden;
        height: 790px;
    }
    
    /* About */
    .about-content h1 {
        font-size: 2rem;
    }
    
    .about-content h2 {
        font-size: 1.7rem;
    }
}

@media (min-width: 1100px) {
    .carusel-content-box {
        width: 960px;
    }
}

/* @media (min-width: 1300px) {
    .blog-entry img {
        width: 400px;
    }
} */

@media (min-width: 1400px) {
    .introduction-text-style {
        top: 130px;
        width: 610px;
        margin-right: 40px;
    }
    
    .introduction h1 {
        font-size: 4rem;
    }

    .carusel-content-box {
        width: 1280px;
    }
}

@media (min-width: 1500px) {
    header {
        padding: 0px 75px;
    }

    .logo h2 {
        font-size: 2.5rem;
    }

    nav {
        gap: 100px;
    }

    .searchbar-input {
        width: 100%;
        font-size: 1.3rem;
    }

    .search-list-result {
        top: 99px;
    }

    /* .main-content {
        padding-top: 105px;
    } */
    
    /* Contact */
    
    .img-box {
        height: 1000px;
    }

}





@media (min-width: 1850px) {
    /* Index */
    /* .introduction-text-style {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 405px;
        left: 37%;
        background-color: #0000002b;
        color: white;
        padding: 0px 15px;
    } */
/* 
    .arrow-style {
        display: flex;
        font-size: 3rem;
        cursor: pointer;
    }

    .blog-carousel-section {
        grid-template-areas:
        "a b d" 
        "c c c";
    } */

    
    .carusel-content-box {
        /* flex-direction: row; */
        /* overflow-x: hidden;
        scroll-behavior: smooth; */
        width: 1690px;
        /* gap: 0px;
        flex-flow: initial;
        justify-content: initial; */
    }

    .blog-entry {
        margin: 0px 8.5px;
    }
    
    .blog-entry img,
    .try-new img {
        width: 400px;
        height: 300px;
    }
/* 
    .carousel-nav-symbols-row {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .read-more {
        display: none;
    } */
}

@media (min-width: 2000px){
    .introduction-text-style {  
        top: 135px;
        width: 890px;
        margin-right: 80px;
    }

    .introduction h1 {
        font-size: 6rem;
    }
}