@media (min-width: 600px){
    .carusel-content-box {
        width: 440px;
    }
}

@media (min-width: 700px) {
    footer form {
        flex-direction: row;
    }

    footer .submission-success, 
    footer .submission-fail {
        width: auto;
    }

    footer .btn-style {
        margin-top: unset;
    }

    /* Blog-list */
    .blog-section {
        grid-template-columns: repeat(2, auto);
    }

    .blog-list-content h1 {
        font-size: 2rem;
    }

}

@media (min-width: 800px){
    header,
    nav,
    #dropdown-menu:checked ~ nav {
        display: flex;
    }

    header {
        padding: 0px 20px;
    }
    
    .logo {
        max-width: 200px;
    }

    .menu-button {
        display: none;
    }

    #dropdown-menu:checked ~ nav {
        background-color: unset;
        position: unset;
    }

    .searchbar-button {
        pointer-events: none;
    }

    .search-list-result {
        top: 80px;
    }

    .search form {
        display: contents;
    }
    
    /* Page Content */
    .main-content {
        padding-top: 80px;
    }

    .blog-entry {
        height: 365px;
    }

    .blog-entry img,
    .try-new img  {
        width: 300px;
        height: 250px;
    }

    /* index */
    .introduction-img {
        display: block;
    }

    .introduction-text-style {
        position: absolute;
        top: 113px;
        width: 330px;
    }

    .introduction h1 {
        border-bottom: none;
    }

    .carousel-title {
        font-size: 2rem;
    }

    .arrow-style {
        display: flex;
        font-size: 3rem;
        cursor: pointer;
    }

    .carusel-content {
        display: flex;
        flex-flow: initial;
        justify-content: initial;
        align-items: center;
        gap: 0px;
        height: 395px;
    }

    .carusel-content-box {
        width: 640px;
    }

    .meal-info {
        display: grid;
        grid-template-areas:
        "a c" 
        "b c" 
        "d d";
        grid-template-columns: 1fr 1fr;
    }

    .meal-info h2 {
        align-self: end;
    }

    .meal-info h2,
    .meal-info h3 {
        padding-right: 20px;
        max-width: 670px;
    }

    .try-new {
        grid-template-areas:
        "a b b" 
        "a c c" 
        "a d d";
        width: 90%;
        max-width: 1295px;
        padding: 10px 15px;
    }

    .try-new h2 {
        justify-self: start;
        padding: 20px 0px 0px 15px;
    }

    /*specific blog post */
    .modal-img {
        width: 60%
    }

    .description-ingredients {
        grid-template-areas:
        "b a"  "c c" ;
    }

    /* Contact */
    .contact-form h1 {
        font-size: 2rem;
    }

    .contact-form h2 {
        font-size: 1.5rem;
        width: 372px;
    }

    .form-style {
        width: 315px;
        font-size: 1.5rem;
        min-height: 60px;
    }

    .btn-style {
        padding: 10px 30px;
        font-size: 1rem;
    }

    /* About */
    .about-img-text-combo-style{
        flex-direction: row;
    }

    .profile-img {
        clip-path: circle();
        max-width: 500px;
        min-width: 300px;
    }
    
    .about-content h2 {
        max-width: 1000px;
    }

    .about-img-text-combo-style h2{
        align-self: center;
        max-width: 740px;  
    }

    .decore-img {
        display: block;
        max-width: 1200px;
        padding: 10px 20px;
        border-radius: 10% / 30%;
    }
}

@media (min-width: 1000px) {
    .logo h2 {
      font-size: 2.2rem;
    }

    nav {
        font-size: 2rem;
        gap: 20px;
    }

    .search-list-result {
        top: 96px;
    }

    footer label {
        font-size: 1.7rem;
    }

    footer input {
        font-size: 1.4rem;
    }

    /* index */
    .introduction-text-style {
        top: 135px;
        width: 400px;
    }

    .introduction h1 {
        font-size: 2.5rem;
    }

    .try-new-title {
        font-size: 2rem;
    }

    /* blog list */
    .blog-section {
        grid-template-columns: repeat(3, auto);
    }

    /* specific blog post */
    .description-ingredients h2,
    .description-ingredients ol {
        font-size: 1.6rem;
        margin: 40px;
    }
      
    .wp-block-table {
        font-size: 1.2rem;
    }

    /* Contact */
    .contact {
        grid-template-columns: 1fr 1fr;
    }

    .img-box {  
        overflow: hidden;
        height: auto;
    }
    
    .img-box img {
        display: unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    /* About */
    .about-content h1 {
        font-size: 2rem;
    }
    
    .about-content h2 {
        font-size: 1.7rem;
    }
}

@media (min-width: 1100px) {
    .carusel-content-box {
        width: 960px;
    }
}

@media (min-width: 1400px) {
    .introduction-text-style {
        top: 120px;
        width: 610px;
    }
    
    .introduction h1 {
        font-size: 4rem;
    }

    .carusel-content-box {
        width: 1280px;
    }

    /* blog list */
    .blog-section {
        grid-template-columns: repeat(4, auto);
    }

    /* Contact */
    .img-box {  
        height: 100vh;
    }
}

@media (min-width: 1500px) {
    header {
        padding: 0px 75px;
    }

    .logo h2 {
        font-size: 2.5rem;
    }

    nav {
        gap: 100px;
    }

    .searchbar-input {
        width: 100%;
        font-size: 1.3rem;
    }

    .search-list-result {
        top: 98px;
    }
    
    /* Page Content */
    .main-content {
        padding-top: 95px;
    }

    /* blog specific post */
    .modal-img {
        width: 50%;
    }
}

@media (min-width: 1850px) {
    /* Page Content */
    .blog-entry {
        margin: 0px 8.5px;
        height: 400px;
    }
    
    .blog-entry img,
    .try-new img {
        width: 400px;
        height: 300px;
    }

    /* index */
    .carusel-content-box {
        width: 1690px;
    }

    .carusel-content {
        height: 440px;
    }

    /* blog specific post */
    .modal-img {
      width: 40%;
    }
}

@media (min-width: 2000px){
    /* index */
    .introduction-text-style {  
        top: 123px;
        width: 890px;
    }

    .introduction h1 {
        font-size: 6rem;
    }
}