.specific-blog-post-content,
.blog-post-content,
.comment-form div {
    display: grid;
}

.specific-blog-post-content,
.blog-post-content {
    justify-items: center;
    padding: 0px 5%;
}

.specific-blog-post-content h1{
    font-size: 2rem;
    text-align: center;
}

.specific-blog-post-content img {
    max-width: 65%;
    border-radius: 10px;
}

.date {
    justify-self: end;
    padding-right: 18%;
}

.post-style {
    font-size: 1.4rem;
}

.description-ingredients {
    display: grid;
    justify-items: center;
    padding: 20px 0px 50px 0px;
    grid-template-areas:
    "a" 
    "b" 
    "c";
    grid-gap: 30px;
}

.description-ingredients h2{
    font-size: 1.4rem;
    margin: 0px;
    grid-area: a;  
    font-family: 'Comic Neue', cursive;
}

.wp-block-table {
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 0px;
    grid-area: b;
    height: fit-content;
    background-color: white;
}

.description-ingredients ol{
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0px;
    grid-area: c;
}

.description-ingredients {
    max-width: 1000px;
}


.comment-form div {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
}

.comment-form label {
    font-size: 1.3rem;
}

.comment-form input,
.comment-form textarea {
    border-radius: 3px;
}

/* .comment-underline {
    border-bottom: solid 1px black;
} */

.modal-section {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.55);
}

.modal-img-style {
    position: fixed;
    top: 4%;
    left: 15%;
    width: 70%;
}

.comment-section {
    max-width: 650px;
}

.add-comment-titel,
.comment-form {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.comment-box {
    border-top: solid 1px black;
}

.comment-author {
    font-weight: bold;
}

.comment-text {
    font-weight: normal;
}

.comment-date{
    text-align: end;
}