.specific-blog-post-content,
.blog-post-content,
.description-ingredients,
.comment-form div {
    display: grid;
}

.specific-blog-post-content,
.blog-post-content {
    justify-items: center;
    padding: 0px 5%;
}

.specific-blog-post-content h1{
    font-size: 2rem;
    text-align: center;
}

.specific-blog-post-content img {
    max-width: 65%;
    border-radius: 10px;
}

.modal-section {
    display: none;
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
}

.modal-img {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.modal-img img{
    max-width: none;
}

.date {
    justify-self: end;
    padding-right: 18%;
}

.description-ingredients {
    grid-template-areas:
    "a" 
    "b" 
    "c";
    justify-items: center;
    max-width: 1000px;
    padding: 20px 0px 50px 0px;
}

.description-ingredients h2{
    grid-area: a;  
    font-size: 1.4rem;
    margin: 0px;
    font-family: 'Comic Neue', cursive;
}

.wp-block-table {
    grid-area: b;
    height: fit-content;
    background-color: var(--standar-white-color);
    border: solid 1px var(--standar-black-color);
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 40px;;
}

.description-ingredients ol{
    grid-area: c;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0px;
}

.add-comment-titel,
.comment-form {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.comment-form div {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
}

.comment-form label {
    font-size: 1.3rem;
}

.comment-form input,
.comment-form textarea {
    border-radius: 3px;
}

.comment-section {
    max-width: 650px;
    padding-bottom: 20px;
}

.comment-box {
    border-top: solid 1px black;
}

.comment-author {
    font-weight: bold;
}

.comment-text {
    font-weight: normal;
}

.comment-date{
    text-align: end;
}