@import "variables.css";

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}
  
body {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: grid;
    grid-template-areas: "b a c";
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--menu-standar-color);
    top: 0px;
    width: 100%;
    padding: 5px 10px;
    z-index: 5;
}

.logo {
    font-family: 'Dancing Script', cursive;
}

.logo h2 {
    margin: 2px;
    font-size: 1.9rem;
}

/* nav */
.nav-section {
    background-color: var(--menu-standar-color);
    padding: 10px;
    font-size: 2rem;
}

nav,
#dropdown-menu,
#dropdown-searchbar,
.search form {
    display: none;
}

#dropdown-menu:checked ~ nav {
    display: table;
    justify-content: center;
    background-color: var(--menu-dropdown-color);
    position: absolute;
    top: 68px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4;
}

nav {
    padding: 0px 30px;
    font-size: 1.5rem;
}

nav a {
    display: flex;
    padding: 10px 16px;
    flex-direction: row;
    justify-content: center;
}

/* Search */

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    padding: 10px 5px 10px 10px;
    font-size: 1.6rem;
}

#dropdown-searchbar:checked ~ form {
    display: flex;
    justify-content: center;
    background-color: var(--menu-standar-color);
    position: absolute;
    top: 68px;
    left: 0px;
    width: 100%;
    z-index: 4;
    padding: 10px;
} 

.searchbar-input {
    border-radius: 5px;
    width: 65%;
    font-size: 1rem;
    padding-left: 7px;
}

.search-list-result {
    display: grid;
    justify-content: center;
    position: absolute;
    overflow: scroll;
    background-color: var(--menu-standar-color);
    left: 0;
    top: 103px;
    width: 100%;
    max-height: 645px;
    padding: 10px 0px;
}

.search-list-products{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 7px;
    font-family: 'Noto Serif', serif;
}

.search-list-products img {
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    width: 100px;
    height: 70px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-color: var(--menu-standar-color); 
    padding: 20px 0px 40px 0px;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer label {
    font-size: 1.4rem;
}

footer input {
    margin: 5px;
    border-radius: 5px;
}

footer div {
    width: auto;
}

/* Page Content */
.main-content {
    padding-top: 65px;
    background-color: var(--menu-dropdown-color);
    font-family: 'Comic Neue', cursive;
    min-height: 100vh;
}

h1 {
    font-family: 'Noto Serif', serif;
}

.main-content h2 {
    font-weight: normal;
    font-family: 'Noto Serif', serif;
    margin-bottom: 0;
}


.blog-entry,
.try-new {
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-color: var(--standar-white-color);
    border: solid 3px var(--standar-black-color);
    border-radius: 10px;
    width: min-content;
}


.blog-entry img,
.try-new img {
    object-fit: cover;
    object-position: center;
    padding: 10px;
}

.blog-entry h2 {
    margin: 0px;
    justify-self: center;
    text-align: center;
}

.blog-entry p {
    margin: 0px;
    text-align: end;
    padding: 3px 15px 5px 0px;
}

/* reference: https://blog.pope.tech/2020/02/28/missing-form-label-search/ */
.wave-form-lable-fix {
    overflow: hidden;
    left: -99999999px;
    position: absolute;
    top: auto;
}


/* validation styles */
.error-message-style {
    display: none;
    text-align: center;
}

.error-message-style,
.submission-fail{
    color: red;
    margin: 0;
}

.submission-success{
    color: #0d6a0d;
}

.submission-success,
.submission-fail{
    text-align: center;
    width: 300px;
    padding-top: 20px;
    font-size: 1.3rem;
}

/* button */
.btn-style {
    padding: 5px 20px;
    margin-top: 15px;
    text-transform: uppercase;
    background-color: var(--button-color);
    border: solid 1px var(--standar-black-color);
    border-radius: 7px;
    font-weight: bold;
}

/* Font edits: */

header,
footer {
    font-family: 'Sriracha', cursive;
}

a {
    text-decoration: none;
    color: var(--standar-black-color);
}

.bold {
    font-weight: bold;
}

/* Grid area */
.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b;
}

.grid-c {
    grid-area: c;
}

.grid-d {
    grid-area: d;
}

.grid-e {
    grid-area: e;
}

/* Hover effects and animations*/
.logo h2:hover {
    transform: scale(0.90);
    transition: transform 2s ease-in-out;
    filter: drop-shadow(0 10px 3px var(--shadow-color));
}

nav a:hover {
    text-decoration: underline;
}

.search-list-result a:hover {
    transform: scale(1.1);
    transition: transform 1s;
    text-decoration: underline;
}

.btn-style:hover,
.carusel-content a:hover,
.try-new-content a:hover,
.blogg-filter-btn-style:hover,
.blog-section a:hover {
    filter: drop-shadow(0 10px 3px var(--shadow-color));
}

.meal-info-btn:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

/* Reference: Previous assignment line 491
  https://github.com/elli95/HTML-and-CSS_CA_Elise-Marie-Hogsnes/blob/main/css/styles.css */
.loading {
    display: flex;
    justify-self: center;
    border: 20px solid #add8e6;
    border-top: 20px solid #26424A;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: spinner 8s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}