@import "variables.css";

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: grid;
    grid-template-areas: "b a c";
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    align-items: center;
    background-color: var(--menu-standar-color);
    padding: 5px 10px;
}

.logo {
    font-family: 'Dancing Script', cursive;
}

.logo h2 {
    margin: 5px;
    font-size: 1.9rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 20px 0px;
    background-color: var(--menu-standar-color);  
}

footer label {
    font-size: 1.4rem;
}

footer input {
    margin: 5px;
    border-radius: 5px;
}

.sign-up-btn {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 7px 10px;
}

/* reference: https://blog.pope.tech/2020/02/28/missing-form-label-search/ */
.wave-form-lable-fix {
    overflow: hidden;
    left: -99999999px;
    position: absolute;
    top: auto;
}

/* nav */
footer,
nav,
.search form,
.searchbar-input {
    font-family: 'Sriracha', cursive;
}

nav,
#dropdown-menu,
#dropdown-searchbar,
.search form {
    display: none;
}

.nav-section {
    background-color: var(--menu-standar-color);
    padding: 10px;
    font-size: 2rem;
}

#dropdown-menu:checked ~ nav {
    display: table;
    justify-content: center;
    background-color: var(--menu-dropdown-color);
    position: absolute;
    top: 68px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4;
}

nav {
    padding: 0px 30px;
    font-size: 1.5rem;
}

nav a {
    display: flex;
    padding: 10px 16px;
    flex-direction: row;
    justify-content: center;
}

/* Searchbar */

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    padding: 10px 5px 10px 10px;
    font-size: 1.6rem;
}

#dropdown-searchbar:checked ~ form {
    display: flex;
    justify-content: center;
    background-color: var(--menu-dropdown-color);
    position: absolute;
    top: 68px;
    left: 0px;
    width: 100%;
    z-index: 4;
    padding: 10px;
} 

.searchbar-input {
    border-radius: 5px;
    width: 65%;
    font-size: 1rem;
    padding-left: 7px;
}


/* Font edits: */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Grid area */
.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b;
}

.grid-c {
    grid-area: c;
}
