:root {
    --menu-standar-color: #BF9169;
    --menu-dropdown-color: #F4D5B4;
    --button-color: #42e813;
    --standar-black-color: black;
    --standar-white-color: white;
    --shadow-color: #00000080;
    --carousel-nav-symbols-selected: lightgray;
    --carousel-nav-symbols-standard: gray;
}